<li class="list-group-item px-0 <%= project.present? ? getColor(project) : "" %> clone-project <%= project.present? ? "" : " d-none" %>">
    <div class="row justify-content-between mw-100 mx-0">
        <%= form_for @project, method: :put do | f | %>
            <div class="row justify-content-between mw-100 w-100 mr-0">
                <a data-bs-toggle="collapse" href="#proj<%= project.present? ? project[:id] : "" %>" class="accordion-toggle collapsed col-lg-1" >
                    <i class="bi bi-chevron-down cursor-pointer"></i>
                </a>
                <div class="col-lg-3 col-12">
                    <%= f.text_field :name, class:"form-control transparent", placeholder:"Nome", value: (project.nil? ? "" : project[:name]), required:"" %>
                </div>
                <div class="col-lg col-sm-6">
                    <%= f.text_field :date_in, class:"form-control transparent", placeholder:"00/00/0000 00:00:00", value: (project.present? ? project[:date_in].strftime("%m/%d/%Y %H:%M:%S") : ""), required:"" %>
                </div>
                <div class="col-lg col-sm-6">
                    <%= f.text_field :date_end, class:"form-control transparent", placeholder:"00/00/0000 00:00:00", value: (project.present? ? project[:date_end].strftime("%m/%d/%Y %H:%M:%S") : ""), required:"" %>
                </div>
                <%= f.hidden_field :id, name:"id", value: (project.present? ? project[:id] : "") %>
                <div class="col-lg-2 my-4 my-lg-0"><%= progress(project.present? ? calc_project_progress(project) : 0) %></div>
                <% if project.present? %>
                    <div class="col-lg-1">
                        <div class="row justify-content-center align-items-center mx-0 mx-auto">
                            <div class="text-center col-6 p-0">
                            <%= button_tag(  :class => "transparent red-bs", formmethod: :get, data: { "bs-target": "#confirm-delete", href: destroy_projects_path(project), "bs-toggle": "modal" }) do %>
                                    <i class="bi bi-trash-fill"></i>
                                <% end %>
                            </div>
                            <div class="text-center col-6">
                                <%= button_tag(:class => "transparent blue-bs") do %>
                                    <i class="bi bi-pencil-square"></i>
                                <% end %>
                            </div>
                        </div>      
                    </div>
                <% end %>
            </div>
        <% end %>
        <div class="task accordian-body collapse col-12 px-0" id="proj<%= project.present? ? project[:id]: "" %>">      
            <ul class="list-group list-group-flush">
                <!-- Tasks -->
                <li class="list-group-item mt-3">
                    <%= form_for @task do | form | %>
                        <div class="row justify-content-between mw-100 form-group mb-0 align-items-center mx-auto">
                            <div class="col-lg-1 my-2 my-lg-0">
                                <div class="btn btn-secondary py-0 px-1 d-none d-lg-block" title="Cadastrar tarefas">
                                    <i class="bi bi-info"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg mb-2 mb-lg-0">
                                <%= form.text_field :name, class:"form-control", placeholder:"Nome", required:"" %>
                            </div>
                            <div class="col-6 col-lg">
                                 <%= form.text_field :date_in, class:"form-control", placeholder:"00/00/0000 00:00:00", required:"" %>
                            </div>
                            <div class="col-6 col-lg">
                                 <%= form.text_field :date_end, class:"form-control", placeholder:"00/00/0000 00:00:00", required:"" %>
                            </div>
                            <div class="col-auto mt-2 mt-lg-0 mlauto">
                                <%= form.hidden_field :project_id, value: (project.present? ? project[:id] : "") %>
                                <%= form.submit "Adicionar", class:"btn btn-success" %>
                            </div>                               
                        </div>
                    <% end %>
                </li>
                <% if project.present? %>               
                    <% project.task.each do | task | %>
                        <%= render 'tasks', task: task %>
                    <% end %>
                <% else %>
                    <%= render 'tasks', task: nil %>
                <% end %>
            </ul>
        </div>
    </div>
</li>