<li class="list-group-item px-0 <%= project ? project[:color] : "" %> clone-project <%= project.present? ? "" : " d-none" %>">
    <div class="row justify-content-between mw-100 no-gutters">
        <div class="project-update row justify-content-between mw-100 no-gutters w-100">
            <div data-bs-toggle="collapse" href="#proj<%= project.nil? ? "" : project[:id] %>" class="accordion-toggle collapsed col-md-1" >
                <i class="bi bi-chevron-down cursor-pointer"></i>
            </div>
            <div class="col-md col-12">
                <input type="text" name="name" class="form-control transparent" data-pname value="<%= project.nil? ? "" : project[:name] %>">
            </div>
            <div class="col-md col-sm-6">
                <input type="text" name="date_in" class="form-control transparent" data-pdatein value="<%= project.present? ? project[:date_in].strftime("%m/%d/%Y %H:%M:%S") : "" %>">
            </div>
            <div class="col-md col-sm-6">
                <input type="text" name="date_end" class="form-control transparent" data-pdateend value="<%= project.present? ? project[:date_end].strftime("%m/%d/%Y %H:%M:%S") : "" %>">
            </div>
            <div class="col-md-2 pr-md-5 px-5 pl-md-0 my-4 my-md-0"><%= progress(project ? project[:progress] : 0) %></div>
            <div class="col-md-1">
                <div class="row justify-content-center align-items-center no-gutters mx-auto">
                    <div class="text-center col-6 p-0">
                       <%= button_to '<i class="bi bi-trash-fill"></i>'.html_safe, (projects_path + "/" + project[:id].to_s), form: {data: {turbo_confirm: 'Are you sure?'}}, method: :delete, class:"btn btn-danger" %>
                    </div>
                    <div class="text-center col-6">
                        <a href="javascript:void(0);" class="update-project" data-id="<% project.nil? ? '' : project[:id] %>">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                </div>      
            </div>
        </div>
        <div class="task accordian-body collapse col-12" id="proj<%= project.nil? ? "" : project[:id] %>">      
            <ul class="list-group list-group-flush">
                <!-- Tasks -->
                <li class="list-group-item mt-3">
                    <form action="" data-id="add-task" method="POST">
                        <div class="row justify-content-between mw-100 form-group mb-0 align-items-center">
                            <div class="col-md-1 my-2 my-md-0"><input type="checkbox" name="checked" class="form-control" disabled></div>
                            <div class="col-12 col-md mb-2 mb-md-0">
                                <input data-pname class="form-control" placeholder="Nome" type="text" name="name" required>
                            </div>
                            <div class="col-6 col-md">
                                <input data-pdatein class="form-control" type="text" placeholder="00/00/0000 00:00:00" name="date_in" required>
                            </div>
                            <div class="col-6 col-md">
                                <input data-pdateend class="form-control" type="text" placeholder="00/00/0000 00:00:00" name="date_end" required>
                            </div>
                            <div class="col-auto mt-2 mt-md-0 col-lg-1 col-md-2 mlauto">
                                <input type="hidden" name="project_id" value="<%= project ? project['id'] : "" %>">
                                <input type="submit" class="btn btn-success" value="Adicionar">
                            </div>                               
                        </div>
                    </form>
                </li>
                <% if project && project[:tasks] %>
                    <% project[:tasks].each do | task | %>
                        <%= render 'tasks', task: task %>
                    <% end %>
                <% else %>
                    <%= render 'tasks', task: {} %>
                <% end %>
            </ul>
        </div>
    </div>
</li>