
<li class="list-group-item <%= task.present? ? ( task[:checked] ? 'checked' : "" ) : " d-none" %>">
    <%= form_for @task, method: :put do | form | %>
        <div class="row justify-content-between mw-100 form-group mb-0 align-items-center input-group">
            <div class="col-md-1 my-2 my-md-0 input-group-text">
                <%= form.check_box :checked,
                    { checked: task.present? && task[:checked],
                    class: "form-check-input",
                    data: {:id => task.present? ? task[:id] : ""},
                    value: task.present? && task[:checked] ? STATUS[:ativo] : STATUS[:inativo] } %>
            </div>
            <div class="col-12 col-md mb-2 mb-md-0">
                <%= form.text_field :name, class:"form-control", placeholder:"Nome", value: task.present? ? task[:name] : "", required:"" %>
            </div>
            <div class="col-6 col-md">
                <%= form.text_field :date_in, class:"form-control", placeholder:"00/00/0000 00:00:00", value: task.present? ? task[:date_in].strftime("%m/%d/%Y %H:%M:%S") : "", required:"" %>
            </div>
            <div class="col-6 col-md">
                <%= form.text_field :date_end, class:"form-control", placeholder:"00/00/0000 00:00:00", value: task.present? ? task[:date_end].strftime("%m/%d/%Y %H:%M:%S") : "", required:"" %>
            </div>
            <%= form.hidden_field :id, name:"id", value: (task.present? ? task[:id] : "") %>
            <% if task.present? %>
                <div class="mt-2 mt-md-0 col-lg-auto col-md-2">
                    <div class="row justify-content-center align-items-center mx-0 mx-auto">
                        <div class="text-right col-auto px-0">
                            <%= button_tag(  :class => "transparent red-bs", formmethod: :get, data: { "bs-target": "#confirm-delete", href: destroy_tasks_path(task), "bs-toggle": "modal" }) do %>
                                <i class="bi bi-trash-fill"></i>
                            <% end %>
                        </div>
                        <div class="text-center col-auto pe-0">
                            <%= button_tag(:class => "transparent blue-bs") do %>
                                <i class="bi bi-pencil-square"></i>
                            <% end %>
                        </div>
                    </div>
                </div>    
            <% end %>                           
        </div>
    <% end %>
</li>