<div class="row align-items-center mb-2 bg-primary-light py-5 mb-5">
    <div class="col-lg-12 text-center">
        <h1>Projetos</h1>
    </div>
</div>
<div id="home" class="container mb-5">
    <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
    <% elsif flash[:error] %>
        <% flash[:error].each do |msg| %>
            <div class="alert alert-danger" role="alert"> <%= msg %></div>
        <% end %>
    <% end %>
    
    <div class="ms-auto col-12 col-lg-4 mb-5">
        <%= progress(@task_progress, 'Atividades concluídas (%)') %>
    </div>
    <div class="ms-auto col-12 col-lg-4 mb-5">
        <%= progress(@project_progress, 'Projetos concluídos (%)') %>
    </div>
    <div class="col-12 mb-2">
        <div class="row justify-content-sm-end justify-content-center">
            <span class="squad red me-4 pr-2 col-auto">Terminará com atraso</span>
            <span class="squad green me-4 pr-2 col-auto">Finalizado</span>
            <span class="squad white col-auto">Em andamento</span>
        </div>
    </div>
    <div class="card w-100 mb-5 text-center project">
        <div class="card-header overflow-group">
            <div class="row justify-content-between">
                <div class="col-auto col-sm-2 col-xl-1">Tarefas</div>
                <div class="col-auto col-sm">Nome</div>
                <div class="col-auto col-sm">Início</div>
                <div class="col-auto col-sm">Fim</div>
                <div class="col-auto col-sm d-lg-block d-none">Progresso</div>
                <div class="col-auto col-lg-1">Ações</div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <%= form_for @project, data: { id: "add-projects" } do | form | %>
                    <div class="row justify-content-between mw-100 form-group align-items-center mb-0">
                        <div class="col-1 d-none d-lg-block">
                            <div class="btn btn-secondary py-0 px-1 d-none d-lg-block" title="Cadastre um projeto para inserir tarefas">
                                <i class="bi bi-info"></i>
                            </div>
                        </div>
                        <div class="col-12 col-lg mb-2 mb-lg-0">
                            <%= form.text_field :name, class:"form-control", placeholder:"Nome", required:"" %>
                        </div>
                        <div class="col-6 col-lg">
                            <%= form.text_field :date_in, class:"form-control", placeholder:"00/00/0000 00:00:00", required:"" %>
                        </div>
                        <div class="col-6 col-lg">
                            <%= form.text_field :date_end, class:"form-control", placeholder:"00/00/0000 00:00:00", required:"" %>
                        </div>
                        <div class="col-6 col-lg-2 pl-lg-4 d-lg-block d-none">
                            <%= progress(0); %>
                        </div>
                        <div class="col-auto mt-2 mt-lg-0 col-lg-1 col-lg-2 mlauto">
                            <%= form.submit "Adicionar", class:"btn btn-primary" %>
                        </div>
                    </div>
                <% end %>
            </li>
            <% unless @projects.blank? %>
                <% taskss = [] %>
                <% @projects.each do | project | %>
                    <% taskss.push(project.task) %>
                    <%= render 'list', project: project %>
                <% end %>
            <% else %>
                <%= render 'list', project: nil %>
            <% end %>
        </ul>
    </div>
</div>
