<!DOCTYPE html>
<html>
  <head>
    <title>TaskListRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="container-fluid bg-dark">
        <div class="container text-white text-center">
            Copyright © Site 2022. Todos os direitos reservados.
        </div> 
    </footer>
  </body>
</html>